@media(max-width:900PX){
   .navbar{
      background: #0ada06;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #a1c004, #0de309);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ffe311, #1a01fb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   }
   .logoItem{
      display:none;
      
   }
   .burger{
      display: block;
   }

   .box-1{
     display: inline-block;
     justify-content: center;
     position: relative;
     top: 5%;

   }
   .box-1 h1{
      font-size: 1.3rem;
   }
   .box-1 img{
      width: 100%;
      height: auto;
      margin-top: 40px;
   }
}

@media (max-width:725px){
   .box-1 p{
      font-size: .8rem;
   }
}